.blue {
    background-color: lightblue;
}
h1{
    color: green;
}

body {
    font-family: 'Comforter', cursive;
    font-size: 1.5em;
    background-color: lightblue;
    background-position: center;
}

.horse {
    background: url("documentation/image/sugarandchickens.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.contact-me{
    display: inline-block;

}

.chicken{
    color: rebeccapurple;
    justify-content: flex-end;
}

.horse{
    color: lightgreen;
    text-align: justify-all;
    justify-content: flex-start;
}
.contact-me{
    display: grid;
    grid-template-columns: fit-content();
}
