body {
    background-image: url("./photos/sugars-ears.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    font-family: 'Akaya Telivigala', cursive;
    text-shadow: darkgoldenrod 4px 4px  20px, goldenrod  -4px -4px 20px;
}


.landing-page{
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-size-adjust: inherit;
}

/*skill container*/
.skills{
    color: black;
    margin: auto;
    text-align: left;
}
.my-head{
    border-radius: 50%;
    text-align: center;
    float: right;
}

.horse {
    text-align: justify-all;
    justify-content: flex-start;
}
.contact-me {
    display: grid;
}
img{
    height: 200px;
    width: auto;
}